<div class="features section">
  <div class="feature">
    {{#link-to 'release'}}
      <img src="/images/ember-structure-sm.png" alt="Structure">
    {{/link-to}}
    <h2>Release</h2>
  </div>
  <div class="feature">
    {{#link-to 'beta'}}
      <img src="/images/ember-handlebars-sm.png" alt="Handlebars">
    {{/link-to}}
    <h2>Beta</h2>
  </div>
  <div class="feature">
    {{#link-to 'canary'}}
      <img src="/images/ember-productivity-sm.png" alt="Productivity">
    {{/link-to}}
    <h2>Canary</h2>
  </div>
</div>
