<div class="features section">
  <div class="feature">
    {{#link-to 'release'}}
      <img class="tomster" src="/images/tomster-sm.png" alt="Release Builds">
    {{/link-to}}
    <h2>Release</h2>
  </div>
  <div class="feature">
    {{#link-to 'beta'}}
      <img class="tomster" src="/images/tomster-beta-sm.png" alt="Beta Builds">
    {{/link-to}}
    <h2>Beta</h2>
  </div>
  <div class="feature">
    {{#link-to 'canary'}}
      <img class="tomster" src="/images/tomster-under-construction-sm.png" alt="Canary Builds">
    {{/link-to}}
    <h2>Canary</h2>
  </div>
</div>
