<div class="features section">
  <div class="feature">
    <a href="#/latest">
      <img src="/images/ember-productivity-sm.png" alt="Productivity">
    </a>
    <h2>Canary</h2>
  </div>
  <div class="feature">
    <a href="#/daily">
      <img src="/images/ember-handlebars-sm.png" alt="Handlebars">
    </a>
    <h2>Beta</h2>
  </div>
  <div class="feature">
    <a href="#/stable">
      <img src="/images/ember-structure-sm.png" alt="Structure">
    </a>
    <h2>Releases</h2>
  </div>
</div>